* {
    margin: 0;
}

html,
body {
    font-size: 18px;
    color: white;
    line-height: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/psychic.png");
    height: 100%;
}

h1,
h3,
ul {
    text-align: left;
    padding-left: 10px;
}

*/
